@charset "utf-8";

/*Lymonade.com - Hier kommt noch ein Slogan - Stylesheet*/

a {
    color: lightgrey;
    padding: 12px;
    text-decoration: none;
    transition: #1fb0b2 0.3s ease;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

a:focus {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #1fb0b2;
	text-decoration: none;
}

a.fork {
    padding: 0px;
    color: #1fb0b2;
}

a.footer {
    color: #1fb0b2;
    text-decoration: none;
}

a.footer:hover {
    color: white;
    text-decoration: none;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #B8B8B9;
    background-color: #161618;
}

button {
    display: inline-block;
    background-color: #1fb0b2;
    color: #ffffff;
    border: 0px #1fb0b2 solid;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

button:hover {
	background-color: #ffffff;
	color: #1fb0b2;
	transition: #1fb0b2 0.3s linear;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	text-shadow: 2px 2px 5px #1fb0b2;
    box-shadow: 0 0 5px rgba(31,176,178,1)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    display: block;
    font-weight: 500;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

hr {
    width: 98%;
    color: #888888;
}

input {
	height: 20px;
	cursor: text;
	font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #1B1E1F;
    background-color: #1B1E1F;
    color: #bbb;
    outline: none;
    padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(31,176,178,1);
}

input.searchbar {
	width: 300px;
    margin: 4px;
	margin-top: 7.5px;
}

ul.navbar-header {
    list-style-type: none;
    margin: 0;
    padding 0;
    overflow: hidden;
    display: block;
}

li {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

li.nav {
    text-align: center;
    list-style-type: none;
}

textarea {
    height: 96px;
    font-family: sans-serif;
    font-size: 14px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px;
    border: 0px;
    background-color: #1B1E1F;
    color: #bbb;
    outline: none;
    width: 700px;
    overflow: auto;
}

textarea:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(31,178,176,1);
    max-width: 960px;
}

th, td {
    text-align: left;
    padding: 16px;
}

th {
	background-color: rgba(16,16,18,1);
	color: #1fb0b2;
}

tr:hover, td:hover {
	background-color: #3a3a3a;
	color: #1fb0b2;
}

tr:hover a {
	color: #1fb0b2;
	text-decoration: underline;
}

td:hover a {
	color: #1fb0b2;
	text-decoration: underline;
}

tr.light {
	background-color: #171B1D;
}

tr.light:hover {
	background-color: #3a3a3a;
	color: #1fb0b2;
}

article,
aside,
details,
div,
figcaption,
figure,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

code,
samp,
kbd,
var {
    font-family: monospace;
}

code {
    font-size: 90%;
    color: #8b2ada;
}

pre {
    font-family: monospace;
    white-space: pre;
    text-shadow: 2px 5px 15px #1dadb0;
}

strong {
    color: #1fb2b0;
    font-style: bold;
}

.navbar {
    padding-top: 0px;
    padding-left: 0px;
    position: fixed;
    max-height: 50px;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

#header {
    width: 100%;
    height: 100px;
    background: rgba(16,16,18,0.78);
    border-bottom: #1fb0b2 1px solid;
    position: fixed;
    top: 0px;
    left: 0px;
}

#content {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-top:100px;
    padding-bottom: 40px;
}

#footer {
    width: 100%;
    height: 40px;
}

#logo {
    float: left;
}

.anim {
    margin: 0;
    animation: color 0.6s linear infinite !important;
}

@keyframes color {
    0% { color: red; }
    25% { color: yellow; }
    50% { color: #1FB2B0; }
    75% { color: #23dd06; }
    100% {  color: red; }
}

@-webkit-keyframes color {
    0% { color: red; }
    25% { color: yellow; }
    50% {  color: #1FB2B0; }
    75% { color: #23dd06; }
    100% { color: red; }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #9b9999 !important;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background: #1fb2b0 !important;
}

::-webkit-scrollbar-track-piece {
    background-color: #222222 !important;
    width: 10px;
    max-height: 10px !important;
}